.update-student-form {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 20px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
  }
  
  .update-student-form h2 {
    margin-bottom: 10px;
    color: #007bff;
  }
  
  .update-student-form form {
    display: flex;
    flex-direction: column;
  }
  
  .update-student-form label {
    margin-bottom: 5px;
    font-size: 16px;
  }
  
  .update-student-form input {
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 14px;
  }
  
  .update-student-form button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  .update-student-form button:hover {
    background-color: #218838;
  }
  