@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

.weather-app-container {
  background: url('../image/weatherAppBg.jpg') no-repeat center center fixed;
  background-size: cover;
    text-align: center;
    padding: 20px;
    font-family: 'Caveat', cursive;
  }
  
  .weather-search-form {
    margin-bottom: 20px;
  }
  
  .weather-search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #472e2e;
    border-radius: 4px;
  }
  
  .weather-search-form button {
    padding: 8px 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
  }
  
  .weather-info {
    margin-top: 20px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .weather-info p {
    font-size: 18px;
    font-family: 'Codystar', cursive;
  }
  
  .weather-forecast {
    margin-top: 20px;
  }
  
  .forecast-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .forecast-item {
    width: calc(25% - 10px); /* 4 items in a row with spacing */
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .forecast-details {
    font-size: 14px;
  }
  
  .forecast-image {
    text-align: center;
  }
  
  .forecast-image img {
    max-width: 100%;
    height: auto;
  }
  
  