@import url('https://fonts.googleapis.com/css2?family=Albert+Sans&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Sulphur+Point&display=swap');

.weather-app-container {
  
  background: url('../image/weatherAppBg.jpg') no-repeat center center fixed;
  background-size: cover;
    text-align: center;
    padding: 20px;
  font-family: 'Albert Sans', sans-serif;
  color: white;  
  }

  .weather-app-container h2{
    margin-bottom: 50px;
  }
  
  
  .weather-search-form {
    margin-bottom:40px;
    background-color: transparent;
  }
  
  .weather-search-form input[type="text"] {
    padding: 8px;
    border: 1px solid #472e2e;
    border-radius: 4px;
  }
  
  .weather-search-form button {
    padding: 8px 12px;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
   
  }

  .weather-info {
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: row; 
  align-items: center;
  gap: 100px;
  justify-content: center; 
  text-align: center; 
  margin-bottom: 70px;
  }

  .currentLocation {
    color: rgb(21, 13, 65);
    margin-bottom: 20px;
    font-size: 25px;
    text-shadow: black;
    font-family: 'Sulphur Point', sans-serif;
  }


  .weather-forecast {
    margin-top: 20px;
    margin-bottom: 50px;
  }
  
  .weather-forecast h3 {
    font-weight: bold;
    text-shadow: black;
    margin-bottom: 50px;
  }
  .forecast-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  }
  
  .forecast-item {
    width: calc(25% - 10px); 
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .forecast-details {
    font-size: 14px;
  }
  
  .forecast-image {
    text-align: center;
  }
  
  .forecast-image img {
    max-width: 100%;
    height: auto;
  }
  
  