.container{
    display: flex;
}

.item{
    margin: 40px;
    padding: 50px;
    background-color: rgb(255, 0, 0);
    color: white;
}

/*Flex Direction*/

.container{
    display: flex;
    flex-direction: column; /*align in column*/
    flex-direction: row; /**align in row*/
}

/* Flex Wrap */

.container{
    flex-wrap: wrap; /*wrap the items if its too large*/
    /* flex-wrap: wrap-reverse; reveerse the flex */
}

/*FLEX ITEMS*/

/* .item1{
    flex-grow:3; /*can give size to particular item*/
/*}

.item2{
    flex-grow: 2;
} */

/*FLEX SHRINK*/
/* .item1{
    flex-shrink: 10;
}  */

/*FLEX BASIS*/
/* .item1{
    flex-basis: 100px;
}

.item2{
    flex-basis: 200px;
} */

/*FLES SETUP Pt. 2*/
.container{
    display: flex;
    flex-direction: row;
}

/*Other Flexbox Properties*/
/* .container{
    justify-content: center;
    justify-content: right;
    justify-content: space-between;
    justify-content: flex-end;
    justify-content: space-around; /*space between and on the left and right too*/
    /*justify-content: space-evenly; /*makes sure that space is even*/
/*}*/

.container{
    align-items: flex-start;
    align-items: flex-end;
    align-items: center;
    align-items: baseline;
    align-items: stretch;
}



