body{
    
    background-color: cadetblue;
    font-family: 'Grandstander', cursive;
    /* font-family: 'Londrina Solid', cursive; */
}

.guessTitle{
    font-family: 'Luckiest Guy', cursive;
    /* font-family: 'Codystar', cursive; */
    letter-spacing: 7px;
    text-align: center;
    padding: 50px;
    font-size: 2rem;
}

.div1{
    text-align: center;
}

.playButton{
    font-family: 'Grandstander', cursive;
    margin: 0;
    padding: 15px;
    color:green;
    background-color:white;
    font-size: 1.5rem;
    border:none; 
    border-radius:8px; 
}
.playStart{
    text-align: center;
    margin-bottom: 50px;
}

.playButton:active{
    background-color: yellow;
}


.instruction{
    text-align: center;
    margin-left: 30%;
    margin-right: 30%;
    border: 3px dotted black;
    padding: 23px;
    
}

.instructionList{
    font-size: 20px;
    display: inline-block;
    text-align: left;
    line-height: 1.5;
    
}

.instructionList img{
    width: 40px;
    position: relative;
    top: 5px;
}


#section{
    margin-top: 70px;
    text-align: center;
}

#section .message{
    font-size: 4rem;
}


.guessButton{
    font-family: 'Grandstander', cursive;
    background-color:black;
    color: #fff;
    border:none; 
    border-radius:8px; 
    padding:7px;
    min-height:5px; 
    min-width: 10px;
}

.userInput{
    
    text-align: center;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    height: 50px;
    width: 50px;
    border-radius:8px; 

}

.guessButton:hover{
    background-color:green;
    transition: 0.2s;
}


.section2{
    font-size: 1.3rem;
    margin-top: 40px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 80px;
    text-align:left
}

.section2 img{
    position: relative;
    top: 6px;

  
}

.highscore{
    font-size: 30px;
}

.score{
    font-size: 30px;
}



